* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
    border-radius:30px;
}

 body {
    padding:1% 20%;
    margin:0 auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:16px;
    background-color:rgb(204, 204, 250);
    background-image:url(./imgs/blue-background.jpg);
    text-align:center;
    border-style:ridge;
}   

nav li, h1 {
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 5% 25%;
    margin: 2%, 10%;
}

 nav li, h1, h2, h3 {
 
    font-weight:800px;
    font-size:30px;
 }

 h2, h3 {
    
    padding:2%;
    border:10px solid rgb(38, 38, 90);
 }

 h1 {
    font-size:50px;
    background-color:rgb(40, 40, 82);
    color:rgb(135, 135, 211);
    border: 15px solid rgb(135, 135, 211);
 }



 p, .description, .ingredients, .steps {
 text-align:left;
 }

li.links-home {
    background-color:lavender;
    opacity:0.8;
    border:15px solid rgb(81, 81, 165);
    border-style:ridge;
}

h2, h3, .description, .ingredients, .steps  {
    background-color:aliceblue;
    color:black;
}


.description, .ingredients, .steps {
    font-size:25px;
    padding:5% 10%;
    border:10px solid rgb(38, 38, 90);
    line-height:1.4;
    
}

img {
    margin:10% 10%;
    padding:auto;
    width:80%;
    height:auto;
    border-radius: 30%;
    border:15px double rgb(48, 48, 114);
}

li a {
    background-color: rgb(38, 38, 90);
    color:aliceblue;
    padding:10%;
    border:10px double rgb(7, 7, 15);
}

a:link, a:visited, a:active { 
    text-decoration: none; 
}
/*
a:visited { 
    text-decoration: none; 
}
*/
a:hover { 
    text-decoration: underline; 
}
/*
a:active { 
    text-decoration: none; 
}
*/

footer {
    color:white;
}
footer a {
    color:rgb(10, 177, 199);
    font-weight:bold;
}

li.links-home, h1, h2, h3, .description, .ingredients, .steps, img, li a {
    border-style:ridge;
 }











